@model AidSystemDAL.Models.Activity

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CharitySystem</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    @*<link href="img/favicon.ico" rel="icon">*@

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Dashboard/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Dashboard/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Dashboard/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/Dashboard/css/dashboard.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        @Html.Partial("_SpinnerPartial")
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        @Html.Partial("_SideBarPartial")
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            @Html.Partial("_NavBarPartial")
            <!-- Navbar End -->

           <!-- Form Start -->
            
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Edit member</h6>
                            @using (Html.BeginForm("EditActivity", "Activity",FormMethod.Post,
                                    new { enctype = "multipart/form-data" }))
                            {
                             <form asp-action="EditMember">
                        <div>
                             <input type="hidden" asp-for="ID" class="form-control"/>
                             <span asp-validation-for="ID" class="text-danger"></span>
                        </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput"
                                    placeholder="Enter first name" value="@Model.Name" name="Name">
                                <label for="Name">Име</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" id="floatingInput"
                                    placeholder="Enter Date" value="@Model.Date" name="Date">
                                <label for="Date">Дата</label>
                            </div>
                             <div class="form-floating mb-3">
                                <input type="time" class="form-control" id="floatingInput"
                                    placeholder="Enter From Hour" value="@Model.FromHour" name="FromHour">
                                <label for="FromHour">От час</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="time" class="form-control" id="floatingInput"
                                    placeholder="Enter To Hour" value="@Model.ToHour" name="ToHour">
                                <label for="ToHour">До час</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput"
                                    placeholder="Enter Region" value="@Model.Region" name="Region">
                                <label for="Region">Регион</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput"
                                    placeholder="Enter Unique Code" value="@Model.UniqueCode" name="UniqueCode">
                                <label for="UniqueCode">Уникален код</label>
                            </div>
                           
                            <div class="col-sm-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <div class="m-n2">
                                <button class="btn btn-outline-primary w-100 m-2" type="submit">Промени</button>
                            </div>
                        </div>
                    </div>
                    </form>
                    }
                        </>
                    </div>
                </div>
            </div>
            
           <!-- Form End -->

           <!-- Footer Start -->
            @Html.Partial("_FooterPartial")
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/Dashboard/js/main.js"></script>
    </div>
</body>

</html>
