@model IEnumerable<AidSystemDAL.Models.Activity>
@{
    ViewData["Title"] = "ViewAllMembers";
}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="~/css/table.css">

    <!-- JS -->
    <script src="~/js/search.js"></script>
    
  </head>
  <body>
  <div class="content">
        <div class="container">
            <div class="input-group">
  <div class="form-outline">
      <label class="form-label" for="form1">Search</label>
    <input type="text" id="myInput" onkeyup="myFunction()" class="form-control" />
  </div>
</div>
            @*<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">*@
      <div class="table-responsive">
                    <table class="table table-striped custom-table" id="myTable">
                        <thead>
                            <tr>
                                <th scope="col">Номер</th>
                                <th scope="col">Име</th>
                                <th scope="col">Дата</th>
                                <th scope="col">От час</th>
                                <th scope="col">До час</th>
                                <th scope="col">Регион</th>
                                <th scope="col">Уникален код</th>
                                <th scope="col">Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var a in Model)
                            {
                                <tr scope="row">
                                    <td>@a.ID</td>
                                    <td>@Html.ActionLink(a.Name, "EditActivity", "Activity", new {id = a.ID})</td>
                                    <td>@a.Date.ToString("dd/MM/yyyy")</td>
                                    <td>@a.FromHour.ToString("hh:mm:ss")</td>
                                    <td>@a.ToHour.ToString("hh:mm:ss")</td>
                                    <td>@a.Region</td>
                                    <td>@a.UniqueCode</td>
                                    <td>@Html.ActionLink("Изтрии", "Delete", "Activity", new {id = a.ID})</td>
                                </tr>
                            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </body>
</html>